<!-- Contenido Principal - Eliminar -->

<div>
    <h2 class="fs-3 mb-3 text-center">Listado de SuperHeroes</h2>

    <!-- Filtro por nombre -->
    <div class="mb-3">
        <input type="text" id="inputBuscar" class="form-control" placeholder="Buscar por nombre de superhéroe">
    </div>

    <!-- Tabla -->
    <div>
        <div class="table-responsive table-container">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Superheroe</th>
                        <th>Nombre Real</th>
                        <th>Edad</th>
                        <th>Planeta</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="tablaSuperHero">
                    <% superheroes.forEach(element=> { %>
                        <tr>
                            <td>
                                <%= element.nombreSuperheroe || "No especificado" %>
                            </td>
                            <td>
                                <%= element.nombreReal || "No especificado" %>
                            </td>
                            <td>
                                <%= element.edad %>
                            </td>
                            <td>
                                <%= element.planetaOrigen || "No especificado" %>
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger" id="btnEliminar"
                                    data-id="<%= element._id %>">
                                    Eliminar
                                </button>
                            </td>
                        </tr>


                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="/js/filtrado.js"></script>
<script src="/js/deleteSuperhero.js"></script>