<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body class="bg-light">
    <div class="d-flex" style="height: 100vh;">
        <!-- Sidebar -->
        <%- include('partials/header') %>

        <!-- Contenido Listar -->
        <main class="flex-grow-1 p-4">
            <!-- Seccion de Listar -->
            <div>
                <h2 class="fs-3 mb-3">Listado de SuperHeroes</h2>
                <p>Aquí va el listado de superheroes</p>
                <div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>Superheroe</th>
                                    <th>Nombre Real</th>
                                    <th>Edad</th>
                                    <th>Planeta</th>
                                    <th>Enemigos</th>
                                    <!-- <th>Poder</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% superheroes.forEach(element => { %>
                                    <tr>
                                        <td><%= element.nombreSuperheroe %></td>
                                        <td><%= element.nombreReal %></td>
                                        <td><%= element.edad %></td>
                                        <td><%= element.planetaOrigen %></td>
                                        <td><%= element.enemigos %></td>
                                        <!-- <td><%# element.poderes.join(', ') %></td> -->
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <!-- <script src="/js/menu.js"></script> -->
</body>

</html>